.game {
  position: fixed;
  /* center the div */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;
  width: 50%;
  /* just for example presentation */
  top: 10em;
  background-color: blue; }

.grid {
  padding: 20px;
  margin: auto auto;
  width: 200px;
  height: 200px;
  align-content: center; }

.row {
  height: 50px;
  float: left;
  background-color: white; }

.col {
  width: 50px;
  height: 50px;
  float: left;
  background-size: 100% 100%;
  background-object-fit: fill;
  background-image: url(../img/p1/l0_p1.png); }

.footer {
  align-items: center;
  padding: 10px; }

.buttons {
  width: 100px;
  margin: auto auto;
  padding: 5px; }
  .buttons #checkres {
    width: 50px;
    height: 20px; }
  .buttons #nextres {
    width: 50px;
    height: 20px; }
