.grid {
  width: 600px;
  height: 600px;
  align-content: center; }

.row {
  width: 600px;
  height: 150px;
  float: left;
  background-color: green; }

.col {
  width: 150px;
  height: 150px;
  float: left;
  opacity: 0.5;
  background-color: black; }
